<div id="raven-body">
  <h1 onclick="window.location = '/great_hall/ravenclaw'">Ravenclaw Common Room</h1>
  <div class="left">
    <h3><%= @user.name %></h3>
    <p>Date of birth: <%= @user.dob %></p>
    <p>Pet: <%= @user.pet %></p>
    <p>Wand wood: <%= @user.wand_wood %></p>
    <p>Wand core: <%= @user.wand_core %></p>
    <p>Staff? <%= @user.staff %></p>
  </div>

  <div class="right">
    <h3>Member Spells</h3>
    <p><%= link_to 'Add new spell', new_spell_path %></p>
    <div class="spell-list">
      <% @indi_spells.each do |spell| %>
        <p><%= spell.name %> - <%= spell.catagory %></p>
        <p class="desc">- <%= spell.description %></p>
        <% if @user == @curr_user %>
          <p><%= link_to 'Edit', edit_spell_path(spell) %> | <%= link_to 'Delete', spell, method: :delete %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>