<div id="gryf-body">
  <h1>Gryffindor Common Room</h1>
  <div class="left">
    <h3>Members</h3>
    <% @users.each do |user| %>
      <p onclick="window.location = '/great_hall/gryffindor/<%= @users.index(user) + 1 %>'"><%= user.name %></p>
    <% end %>
  </div>

  <div class="right">
    <h3>Gryffindor Spells</h3>
    <p><%= link_to 'Add new spell', new_spell_path %></p>
    <% @indi_spells.each do |spell| %>
      <p><%= spell.name %> - <%= spell.catagory %></p>
      <p class="desc">- <%= spell.description %></p>
    <% end %>
  </div>
</div>