<section>
  <div class="banner red">
    <%= image_tag "gryffindor.png", class: "house-badge" %>
  </div>
  <div class="banner yellow">
    <%= image_tag "hufflepuff.png", class: "house-badge" %>
  </div>
  <div class="scroll-register">
    <%= image_tag "scrolllarge.png", class: "img-responsive scroll-img" %>

    <h1>Questions</h1>

    <%= link_to 'Begin', "/question/1" %>

  </div>
  <div class="banner blue">
    <%= image_tag "ravenclaw.png", class: "house-badge" %>
  </div>
  <div class="banner green">
    <%= image_tag "slytherin.png", class: "house-badge" %>
  </div>

</section>