<h2><%= @question.text %></h2>

<% @question.answers.each do |answer| %>

  <%= form_with(model: @question) do |f| %>
  <%= f.hidden_field :tag, value: answer.tag%>
  <%= f.hidden_field :gryffindor, value: answer.gryffindor%>
  <%= f.hidden_field :ravenclaw, value: answer.ravenclaw%>
  <%= f.hidden_field :hufflepuff, value: answer.hufflepuff%>
  <%= f.hidden_field :slytherin, value: answer.slytherin%>

  <div class="field">
    <%= f.submit value: answer.tag %>
  </div>
  <% end %>
<% end %>
<p><%= @user.name %></p>
<p><%= @user.gryffindor %></p>
<p><%= @user.ravenclaw %></p>
<p><%= @user.hufflepuff %></p>
<p><%= @user.slytherin %></p>
