<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gryffindor %>
    <%= form.text_field :gryffindor, id: :answer_gryffindor %>
  </div>

  <div class="field">
    <%= form.label :ravenclaw %>
    <%= form.text_field :ravenclaw, id: :answer_ravenclaw %>
  </div>

  <div class="field">
    <%= form.label :hufflepuff %>
    <%= form.text_field :hufflepuff, id: :answer_hufflepuff %>
  </div>

  <div class="field">
    <%= form.label :slytherin %>
    <%= form.text_field :slytherin, id: :answer_slytherin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
