<div id="slyth-body">
  <h1 onclick="window.location = '/great_hall/slytherin'">Slytherin Common Room</h1>
  <div class="left">
    <h3>Members</h3>
    <% @users.each do |user| %>
      <p onclick="window.location = '/great_hall/slytherin<%= @users.index(user) + 1 %>'"><%= user.name %></p>
    <% end %>
  </div>

  <div class="right">
    <h3>Slytherin Spells</h3>
    <% if @curr_user.house == "Slytherin" %>
      <p><%= link_to 'Add new spell', new_spell_path %></p>
    <% end %>
    <div class="spell-list">
      <% @indi_spells.each do |spell| %>
        <p><%= spell.name %> - <%= spell.catagory %></p>
        <p class="desc">- <%= spell.description %></p>
      <% end %>
    </div>
  </div>
</div>