<h1>Welcome to Hogwarts</h1>

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>

<% @users.each do |user| %>
  <p><%= user.email %></p>
  <p><%= user.name %></p>
  <p><%= user.house %></p>
  <p><%= user.gryffindor %></p>
  <p><%= user.ravenclaw %></p>
  <p><%= user.hufflepuff %></p>
  <p><%= user.slytherin %></p>

  <% user.spells.each do |spell| %>
  <h2><%= spell.name %></h2>
  <%= link_to 'Show', spell %>
  <%= link_to 'Edit', edit_spell_path(spell) %>
  <%= link_to 'Destroy', spell, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>

<%= @user.name %>

