<section>
  <div class="banner red">
    <%= image_tag "gryffindor.png", class: "house-badge" %>
  </div>
  <div class="banner yellow">
    <%= image_tag "hufflepuff.png", class: "house-badge" %>
  </div>
  <div class="scroll">
    <%= image_tag "scroll.png", class: "img-responsive scroll-img" %>
    <h1>Welcome to Hogwarts</h1>
    <br>
    <p>To our new students,<br> welcome and <%= render 'devise/menu/registration_items' %></p>
    <br>
    <p>To our old hats, <%= render 'devise/menu/login_items' %></p>

  </div>
  <div class="banner blue">
    <%= image_tag "ravenclaw.png", class: "house-badge" %>
  </div>
  <div class="banner green">
    <%= image_tag "slytherin.png", class: "house-badge" %>
  </div>

</section>
 