<p id="notice"><%= notice %></p>

<h1>Spells</h1>

  <% @spells.each do |spell| %>
    <h2><%= spell.name %></h2>
    <%= link_to 'Show', spell %>
    <%= link_to 'Edit', edit_spell_path(spell) %>
    <%= link_to 'Destroy', spell, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<br>
<%= link_to 'New Spell', new_spell_path %>
